#tracklist-footer td {
    font-family: sans-serif;
    font-size: 0.65em;
    letter-spacing: 1px;
    padding: 0 12px;
    border-right: 1px solid #CFCFCF;
    width: 1%;
    text-transform: lowercase;
    white-space: nowrap;
}

#tracklist-footer td:last-child {
    width: 100%;
}

td#marquee {
    padding: 0 0;
    text-transform: lowercase;
}

#now-playing {
    width: 160px;
}

#album img {
    max-height: 80px;
    max-width: 80px;
    image-rendering: crisp-edges;
}

#all-tracks, #albums, #playlists, #cloud {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}