#tracklist, #tracklist-header, #tracklist-footer {
    width: 100vw;
    border-collapse: collapse;
}

#tracklist tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#tracklist tr.playing {
    background-color: #d3eaf2;
}

#tracklist-header td {
    font-family: sans-serif;
    font-size: 0.65em;
    padding: 0 12px;
    letter-spacing: 1px;
    border-right: 1px solid #CFCFCF;
    text-transform: lowercase;
}

#tracklist-header td:last-child {
    border-right: none;
}

#tracklist td {
    font-family: sans-serif;
    font-size: 0.65em;
    padding: 4px 12px;
    text-transform: lowercase;
    white-space: nowrap;
}

audio, audio::-webkit-media-controls-panel {
    background-color: #ffffff; /*rgba(241, 243, 244, 1);*/
    width: 100%;
}

td.title {
    width: 25%;
}

td.artist {
    width: 15%;
}

td.album {
    width: 15%;
}

td.year {
    width: 7%;
}

td.genres {
    width: 20%;
}

td.buttons {
    width: 10%;
}

#tracklist td.buttons {
    cursor: pointer;
    color: #007ACC;
}

#tracklist td.buttons i {
    padding-right: 4px;
}

/*td.track_no {
    width: 7%;
}*/

td.duration {
    width: 8%;
}

td.album_cover {
    width: 10%;
    padding: 2px 12px;
}

td.album_cover img {
    max-width: 32px;
    max-height: 32px;
    border: 1px solid #CFCFCF;
    image-rendering: crisp-edges;
}

td.album_name {
    width: 30%;
}

td.album_artist {
    width: 30%;
}

td.album_track_count {
    width: 10%;
}

td.album_duration {
    width: 20%;
}