#tracklist, #tracklist-header, #tracklist-footer {
    width: 100vw;
    border-collapse: collapse;
}

#tracklist tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#tracklist tr.playing {
    background-color: #d3eaf2;
}

#tracklist-header td {
    font-family: sans-serif;
    font-size: 0.65em;
    padding: 0 12px;
    letter-spacing: 1px;
    border-right: 1px solid #CFCFCF;
}

#tracklist td {
    font-family: sans-serif;
    font-size: 0.65em;
    padding: 4px 12px;
}

audio, audio::-webkit-media-controls-panel {
    background-color: rgba(255, 255, 255, 1); /*rgba(241, 243, 244, 1);*/
    width: 100%;
}

td.title {
    width: 20%;
}

td.artist {
    width: 15%;
}

td.album {
    width: 15%;
}

td.year {
    width: 8%;
}

td.genres {
    width: 25%;
}

#tracklist td.genres {
    font-size: 0.65em;
}

td.track_no {
    width: 7%;
}

td.duration {
    width: 10%;
}